@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

.timeline {
	display: inline-block;
	height: 60px;
	width: 100%;
	font: normal bold 9px/20px Roboto;
	
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEEEEEE', endColorstr='#FFEEEEEE');
	background: #eee;
	background:
		url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
	background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #eeeeee), color-stop(35%, #fcfcfc), color-stop(68%, #f7f7f7),
		color-stop(100%, #eeeeee), color-stop(100%, #eeeeee));
	background: -moz-linear-gradient(left, #eeeeee 0%, #fcfcfc 35%, #f7f7f7 68%, #eeeeee 100%, #eeeeee 100%);
	background: -webkit-linear-gradient(left, #eeeeee 0%, #fcfcfc 35%, #f7f7f7 68%, #eeeeee 100%, #eeeeee 100%);
	background: linear-gradient(to right, #eeeeee 0%, #fcfcfc 35%, #f7f7f7 68%, #eeeeee 100%, #eeeeee 100%);
	border: 1px solid #eee;
  -moz-box-shadow: 0 2px 2px #D2D2D2;
  -webkit-box-shadow: 0 2px 2px #D2D2D2;
  box-shadow: 0 2px 2px #D2D2D2;
}

.front {
	z-index: 1;
}

.timeline-left {
	width: 5%;
	height: 100%;
	float: left;
	text-align: center;
}

.timeline-center {
	height: 100%;
	padding-top: 20px;
	width: 90%;
	float: left;
}

.timeline-right {
	width: 5%;
	height: 100%;
	float: left;
	text-align: center;
}

.timeline-events {
	z-index: 1;
	top: 0px;
	position: relative;
	background-color: silver;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.timeline-event {
	position: absolute;
	width: 2px;
	height: 28px;
	background: #00BA26;
	top: -20px;
	cursor: pointer;
}

.timeline-event span {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12px 5px 0 5px;
	border-color: #00BA26 transparent transparent transparent;
	position: absolute;
	top: -10px;
	left: -4px;
}

.progress {
	height: 15px;
	position: relative;
	padding: 1px;
	background: #d6d6d6;
}

.progress>span {
	display: block;
	height: 100%;
	background-repeat: repeat-x;
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAIAAACgHXkXAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAmklEQVR42n2QoRICMQxE34YiGCQKzZ+g+VoEik9BIlA4BsNkEXdXyjFlRSbdJM1udLr6eL7cl9un1saSMCs/Nq/bYb8LGkiqeWYC0TDMWiVKZn2DAOyRsSkIyJatiCBs/FuZUEJIi+m7ucyutEF5+SrX3CnJJvp7AaKJ4K/1mURvTtJobPD9gYGwLfWnhzvGdLVk7jDRX+WZvAFVGTu3Dqy+5gAAAABJRU5ErkJggg==);
	position: relative;
	z-index: 10;
}

.timeline-bg {
	position: relative;
	padding: 0px;
	top: -22px;
}

.timeline-month {
	position: relative;
	display: inline-block;
	top: 0;
	height: 13px;
}

.timeline-month span {
	color: white;
	font-size: 10px;
	padding: 0 2%;
	margin: 0;
	height: 100%;
	text-align: left;
	position: relative;
	top: -4px;
}

.timeline-day {
	position: absolute;
	display: inline-block;
	background: #EDEDED;
	top: 0px;
	width: 1px;
	height: 13px;
}

.timeline-day span {
	color: #bab9c9;
	font-size: 10px;
	padding: 0;
	margin: 0;
	position: relative;
	left: -5px;
}

.timeline-day span i {
	border-left: 5px solid transparent;
	border-bottom: 5px solid #bab9c9;
	border-right: 5px solid transparent;
	padding: 0;
	margin: 0;
	display: inline-block;
	position: relative;
	top: 10px;
}

.timeline-event-box {
	font-size: 1.2em;
	position: relative;
	background: #ffffff;
	border: 1px solid #C7C7C7;
	top: 30px;
	width: 200px;
	left: -20px;
	padding: 5px;
}
.timeline-event-box:after, .timeline-event-box:before {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.timeline-event-box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 8px;
	margin-left: -8px;
}
.timeline-event-box:before {
	border-color: rgba(199, 199, 199, 0);
	border-bottom-color: #C7C7C7;
	border-width: 9px;
	margin-left: -9px;
}